<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eduvision.version2.corona">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:installLocation="preferExternal" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_store"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_store"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SlideActivity"></activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    <activity android:name=".SplashActivity">
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Acheteurs.SeconActitvity" />
        <activity
            android:name=".Sellers.Publish3activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Choose2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellers.Main3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellers.Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellers.PublishActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellers.Publish2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Acheteurs.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sellers.EditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>